<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://JAVA.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CS480 Demo</display-name>
    <servlet>
    <description></description>
    <display-name>Entity1ServletCreate</display-name>
    <servlet-name>Entity1ServletCreate</servlet-name>
    <servlet-class>entity1.web.servlet.Entity1ServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entity1ServletCreate</servlet-name>
    <url-pattern>/Entity1ServletCreate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Entity1ServletRead</display-name>
    <servlet-name>Entity1ServletRead</servlet-name>
    <servlet-class>entity1.web.servlet.Entity1ServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entity1ServletRead</servlet-name>
    <url-pattern>/Entity1ServletRead</url-pattern>
  </servlet-mapping>
  
  
  
    <servlet>
    <description></description>
    <display-name>Entity1ServletUpdate</display-name>
    <servlet-name>Entity1ServletUpdate</servlet-name>
    <servlet-class>entity1.web.servlet.Entity1ServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entity1ServletUpdate</servlet-name>
    <url-pattern>/Entity1ServletUpdate</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <description></description>
    <display-name>Entity1ServletDelete</display-name>
    <servlet-name>Entity1ServletDelete</servlet-name>
    <servlet-class>entity1.web.servlet.Entity1ServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entity1ServletDelete</servlet-name>
    <url-pattern>/Entity1ServletDelete</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>StateServletCreate</display-name>
    <servlet-name>StateServletCreate</servlet-name>
    <servlet-class>state.web.servlet.StateServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StateServletCreate</servlet-name>
    <url-pattern>/StateServletCreate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>StateServletRead</display-name>
    <servlet-name>StateServletRead</servlet-name>
    <servlet-class>state.web.servlet.StateServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StateServletRead</servlet-name>
    <url-pattern>/StateServletRead</url-pattern>
  </servlet-mapping>
  
  
  
    <servlet>
    <description></description>
    <display-name>StateServletUpdate</display-name>
    <servlet-name>StateServletUpdate</servlet-name>
    <servlet-class>state.web.servlet.StateServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StateServletUpdate</servlet-name>
    <url-pattern>/StateServletUpdate</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <description></description>
    <display-name>StateServletDelete</display-name>
    <servlet-name>StateServletDelete</servlet-name>
    <servlet-class>state.web.servlet.StateServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StateServletDelete</servlet-name>
    <url-pattern>/StateServletDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>WasteFacilityServletCreate</display-name>
    <servlet-name>WasteFacilityServletCreate</servlet-name>
    <servlet-class>wastefacility.web.servlet.WasteFacilityServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WasteFacilityServletCreate</servlet-name>
    <url-pattern>/WasteFacilityServletCreate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>WasteFacilityServletRead</display-name>
    <servlet-name>WasteFacilityServletRead</servlet-name>
    <servlet-class>wastefacility.web.servlet.WasteFacilityServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WasteFacilityServletRead</servlet-name>
    <url-pattern>/WasteFacilityServletRead</url-pattern>
  </servlet-mapping>
  
  
  
    <servlet>
    <description></description>
    <display-name>WasteFacilityServletUpdate</display-name>
    <servlet-name>WasteFacilityServletUpdate</servlet-name>
    <servlet-class>wastefacility.web.servlet.WasteFacilityServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WasteFacilityServletUpdate</servlet-name>
    <url-pattern>/WasteFacilityServletUpdate</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <description></description>
    <display-name>WasteFacilityServletDelete</display-name>
    <servlet-name>WasteFacilityServletDelete</servlet-name>
    <servlet-class>wastefacility.web.servlet.WasteFacilityServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WasteFacilityServletDelete</servlet-name>
    <url-pattern>/WasteFacilityServletDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>WasteManagementServletCreate</display-name>
    <servlet-name>WasteManagementServletCreate</servlet-name>
    <servlet-class>wastemanagement.web.servlet.WasteManagementServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WasteManagementServletCreate</servlet-name>
    <url-pattern>/WasteManagementServletCreate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>WasteManagementServletRead</display-name>
    <servlet-name>WasteManagementServletRead</servlet-name>
    <servlet-class>wastemanagement.web.servlet.WasteManagementServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WasteManagementServletRead</servlet-name>
    <url-pattern>/WasteManagementServletRead</url-pattern>
  </servlet-mapping>
  
  
  
    <servlet>
    <description></description>
    <display-name>WasteManagementServletUpdate</display-name>
    <servlet-name>WasteManagementServletUpdate</servlet-name>
    <servlet-class>wastemanagement.web.servlet.WasteManagementServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WasteManagementServletUpdate</servlet-name>
    <url-pattern>/WasteManagementServletUpdate</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <description></description>
    <display-name>WasteManagementServletDelete</display-name>
    <servlet-name>WasteManagementServletDelete</servlet-name>
    <servlet-class>wastemanagement.web.servlet.WasteManagementServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WasteManagementServletDelete</servlet-name>
    <url-pattern>/WasteManagementServletDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UserServletRegister</display-name>
    <servlet-name>UserServletRegister</servlet-name>
    <servlet-class>user.web.servlet.UserServletRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletRegister</servlet-name>
    <url-pattern>/UserServletRegister</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <description></description>
    <display-name>InitializeDB</display-name>
    <servlet-name>InitializeDB</servlet-name>
    <servlet-class>init.web.servlet.InitializeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitializeDB</servlet-name>
    <url-pattern>/InitializeDB</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>UserServletLogin</display-name>
    <servlet-name>UserServletLogin</servlet-name>
    <servlet-class>user.web.servlet.UserServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletLogin</servlet-name>
    <url-pattern>/UserServletLogin</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>UserServletLogout</display-name>
    <servlet-name>UserServletLogout</servlet-name>
    <servlet-class>user.web.servlet.UserServletLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletLogout</servlet-name>
    <url-pattern>/UserServletLogout</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>findAll</display-name>
    <servlet-name>findAll</servlet-name>
    
    <servlet-class>user.web.servlet.findAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findAll</servlet-name>
    <url-pattern>/findAll</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>
